
  .accHover:hover {
      text-decoration: underline;
  }

  .ct{
    -ms-transform: translateX(350%);
    transform: translateX(350%);
    position: relative;

  }

  .ctS {
    -ms-transform: translateX(210%);
    transform: translateX(210%);
    position: relative;
  }

.signIn {
  @media screen and (max-width: 800px) {
    .ct{
      -ms-transform: translateX(65%);
      transform: translateX(65%);
      position: relative;
    }
    .ctS {
      -ms-transform: translateX(25%);
      transform: translateX(25%);
      position: relative;
    }
  }
}