.accHover:hover {
    text-decoration: underline;
}

.signP{
    -ms-transform: translateX(510%);
    transform: translateX(510%);
  }

.signUp {
    @media screen and (max-width: 800px) {
      .signP{
        -ms-transform: translateX(55%);
        transform: translateX(55%);
        
      }
    }
}